@import '../../Assets/variables.module';

.main{
    box-shadow: -7px -7px 19px -4px rgba(118,54,38,1);
    height:$viewHeight1;
    width: 100%;
    background:$blackish;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
/*   justify-content: center;
    align-items: center; */
   
    position: sticky;
    top:$navBarHeight1; 
    z-index: 3;
    margin: 100px 0 0; 
    
   
}
//widgets

.widget{
    width: 90vw;
    max-height:6vh;
    background-color:$whitish;
    color:$darkBlue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
    opacity:0;
    margin: auto;
    border-radius: 10px;
    transition:  opacity .5s, transform .5s,  max-height .5s, width .5s ; 
    box-shadow: 5px 5px 3px $lightBlue;
    
    span{
        margin: 0 0 0 5px;
    }
    
    h2{
        margin: 0;
    }

    p{
        padding:15px 0 0;
        color:black;
        font-size: 20px;
        //text-indent:20px;
        text-align: justify;
        letter-spacing: 2px;
        margin:0 5px;
       
    }

    p:first-child {
        padding-top: 0;
    }

    ul, div{
   
        height: 100%; 
        width:100%;
       list-style: none;
       padding: 5px;
       margin: 5px 0;
       background:$whitish;
       font-size: 20px;    
   }

   div{
    overflow-y: scroll;
    overflow-x: hidden;
    }

    div div{
        margin:0;
        padding:0;
    }

    
    li {
        text-align: justify;
        padding:10px 5px ;
        color:black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        //justify-content: center;
        align-content: center;
        
    }

    ul>li:nth-child(odd){
        background-color: $lightBlue;
        color: $whitish;
        cursor: pointer;
       
      
      }
      
      li:hover, ul>li:nth-child(odd):hover {
          background-color: $darkBlue;
          color: $brownish;
          cursor: pointer;
          
      }
}



.enter{
    composes:widget;
    opacity:100; 
    transform: translateX(0);
}

.clicked{
    composes:enter;
    z-index: 100;
    max-height:$viewHeight1;
    width:100vw;
    transition:  max-height .5s, width .5s, transform .5s;
   
    
    
    h2{
        background-color: $darkBlue;
        color: $whitish;
        border-radius: 10px 10px 0 0;
        padding: 10px 0 10px; 
        transition: .3s; 
    }
    div{
        display: block;  
    }

}

.mainDivStyles{
    background-color: transparent !important;
    height: auto !important;
    width:30px !important;
    overflow: hidden !important;
}

@media screen and  (min-width: 375px){
  .main{
    h2{
        font-size: 22px ;
        padding:10px ;;
       }
  }
  .widget{
      width:80%;
  } 
 }

@media screen and (min-width:768px){
    .main{  
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-template-rows: 47.5% 47.5%;
        grid-gap: 5%; 
        padding: 5%;

    }
   .widget{
       position: relative;
       right:0;
        width: 100%;
        max-width: 100%;
        margin:auto;
        height: 100%;

        max-height: 100%;
       
        h2{
            background-color: $darkBlue;
            color: $whitish;
            border-radius: 10px 10px 0 0;
            padding: 10px 0 10px; 
            transition: .3s; 
        }

        div{
            display: block;  
        }
   }
     
 }




