@import '../../Assets/variables.module';

.main{
    height:$viewHeight1;
    width: 100vw;
    background:$blackish;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
/*   justify-content: center;
    align-items: center; */
   
    position: sticky;
    top:$navBarHeight1; 
    z-index: 3;
    margin: 100px 0 0; 
    
   
}
//widgets

.widget{
    width: 90vw;
    max-height:6vh;
    background-color:$whitish;
    color:$darkBlue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
    opacity:0;
    margin: auto;
    border-radius: 10px;
    transition:  opacity .5s, transform .5s,  max-height .5s, width .5s ; 
    box-shadow: 5px 5px 3px $lightBlue;
    
    h2{
        margin: 0;
    }
    p{
        color:black;
    }

    ul, div{
   
        height: 100%; 
       list-style: none;
       padding: 5px;
       margin: 5% 5%;
       background:$whitish;    
   }

   div{
    overflow: scroll;
    //display:none;
    }

    
    li {
        text-align: justify;
        padding:10px 5px ;
        color:black;
    }
}



.enter{
    composes:widget;
    opacity:100; 
    transform: translateX(0);
}

.clicked{
    composes:enter;
    z-index: 100;
    max-height:$viewHeight1;
    width:100vw;
    transition:  max-height .5s, width .5s, transform .5s;
    
    
    h2{
        background-color: $darkBlue;
        color: $whitish;
        border-radius: 10px 10px 0 0;
        padding: 10px 0 10px; 
        transition: .3s; 
    }
    div{
        display: block;
    
        
    }

}

