@import '../../Assets/variables.module';

$background: lightcoral;
$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;

.main{

    height:100vh;
    width: 100%;
    //background:$blackish;
    padding-bottom: 20vh;
    //background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
/*   justify-content: center;
    align-items: center; */
   overflow-x: hidden;
    position: sticky;
    top: 0; 
    z-index: 3;
    //margin: 100px 0 0; 
    
   
}
//widgets

.widget{
    width: 90vw;
    max-height:6vh;
    background-color:$whitish;
    color:$darkBlue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
    opacity:0;
    margin: auto;
    border-radius: 10px;
    transition:  opacity .5s, transform .5s,  max-height .5s, width .5s ; 
    box-shadow: 5px 5px 3px $lightBlue;
    
    span{
        margin: 0 0 0 5px;
    }
    
    h2{
        margin: 0;
    }

    p{
        padding:15px 0 0;
        color:black;
        font-size: 20px;
        //text-indent:20px;
        text-align: justify;
        letter-spacing: 2px;
        margin:0 5px;
       
    }

    p:first-child {
        padding-top: 0;
    }

    ul, div{
   
        height: 100%; 
        width:100%;
       list-style: none;
       padding: 5px;
       margin: 5px 0;
       background:$whitish;
       font-size: 20px;    
   }

   div{
    overflow-y: scroll;
    overflow-x: hidden;
    }

    div div{
        margin:0;
        padding:0;
    }

    
    li {
        text-align: justify;
        padding:10px 5px ;
        color:black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        //justify-content: center;
        align-content: center;
        
    }

    ul>li:nth-child(odd){
        background-color: $lightBlue;
        color: $whitish;
        //cursor: pointer;
       
      
      }


      
      .leftBar {
        position: absolute;
        background-color: transparent;
        top: 15px;
        right:21px;
        width: 20px;
        height: 15px;
        display: block;
        transform: rotate(35deg);
        float: right;
        border-radius: 2px;
        &:after {
          content:"";
          background-color:$darkBlue;
          width: 20px;
          height: 5px;
          display: block;
          float: right;
          border-radius: 6px 10px 10px 6px;
          transition: all $duration $easing;
          z-index: -1;
        }
      }

      .barContainer{
        margin:20px auto auto;
      }

      .rightBar {
        position: absolute;
        background-color: transparent;
        top: 15px;
        right:0px;
        width: 20px;
        height: 15px;
        display: block;
        transform: rotate(-35deg);
        float: right;
        border-radius: 2px;
        &:after {
          content:"";
          background-color: $darkBlue;
          width: 20px;
          height: 5px;
          display: block;
          float: right;
          border-radius: 10px 6px 6px 10px;
          transition: all $duration $easing;
          z-index: -1;
        }
      }
      
    
}



.enter{
    composes:widget;
    opacity:100; 
    transform: translateX(0);
}

.clicked{
    composes:enter;
    z-index: 100;
    max-height:$viewHeight1;
    width:100vw;
    transition:  max-height .5s, width .5s, transform .5s;
   
    
    
    h2{
        background-color: $darkBlue;
        color: $whitish;
        border-radius: 10px 10px 0 0;
        padding: 10px 0 10px; 
        transition: .3s; 
    }
    div{
        display: block;  
    }

   

    .leftBar:after{
        transform-origin: center center;
        transform: rotate(-70deg);
        background-color: $whitish;
    }

    .rightBar:after {
        transform-origin: center center;
        transform: rotate(70deg);
        background-color: $whitish;
      }



}

.mainDivStyles{
    background-color: transparent !important;
    height: auto !important;
    width:30px !important;
    overflow: hidden !important;
}

.tooling{
    composes: mainDivStyles;
    margin-left: 10px !important;

}

.gulp{
    composes: mainDivStyles;
    width:20px !important;
    margin-left: 10px !important;
   

}

@media screen and  (min-width: 375px){
  .main{
    h2{
        font-size: 22px ;
        padding:10px ;;
       }
  }
  .widget{
      width:80%;
  } 
 }

@media screen and (min-width:768px){
    .main{ 
        height:1700px;
        position: relative;
        left:0 !important;
        top:190px;
        margin:auto;
    }
   .widget{
        position: relative;
        right:0;
        width: 80%;
        margin:50px auto;
        height: 300px;
        max-height: 100%;

        p, ul{
            font-size: 22px;   
        }

        h2{
            background-color: $darkBlue;
            color: $whitish;
            border-radius: 10px 10px 0 0;
            padding: 10px 0 10px; 
            transition: .3s; 
            font-size: 26px;
        }

        div{
            display: block;
            
        }
   }
    
 }

 @media screen and (min-width:1024px){
    
    .main{
        height:100%;
    }

    .widget{
        max-height: none;
        height: 100%;
    }

   .contDiv::-webkit-scrollbar {
        width: 1px !important;
      } 

 }


.contDiv::-webkit-scrollbar-track {
    background:$whitish ; 
}

  
/* Handle */
.contDiv::-webkit-scrollbar-thumb {
background: $darkBlue; 
}

/* Handle on hover */
.contDiv::-webkit-scrollbar-thumb:hover {
background: $brownish; 
}

/* list */

.contDiv::-webkit-scrollbar {
width: 15px;
}

/* Track */
.contDiv::-webkit-scrollbar-track {
background:$blackish ; 
}

/* Handle */
.contDiv::-webkit-scrollbar-thumb {
background: $darkBlue; 
}

/* Handle on hover */
.contDiv::-webkit-scrollbar-thumb:hover {
background: $brownish; 
}

