@import '../../Assets/variables.module';
.main{
    width: 100%;
    height:$viewHeight1;
    position: sticky;
    top:$navBarHeight1;
    z-index: 4;
    background: white;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    margin: 100px 0 0;
}

.main h2{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}