.main{
    height: 90vh;
    width: 100%;
    display: grid;
     grid-template-areas: 
        'leftC centerC rightC';
    grid-template-columns: 10% 80% 10%;
    overflow: hidden;
    justify-items: center;
    align-items: center;

    

}



.sideCommon{
    filter: blur(1px);
    height: 90%;
    width: 80vw;
    overflow: visible; 
    z-index: 0;
   

}

.centerC{
    z-index: 2;
     grid-area: centerC;
    height: 100%;
     width: 100%;  
}

.rightC{
    composes: sideCommon;
    grid-area: rightC;
     
}

.leftC{
    composes: sideCommon;
    grid-area: leftC;  
}

.inline{
    composes: sideCommon;
    position: absolute;
    left:100px;
}

.controlsCommon{
    width:100%;
    z-index: 2;
    font-size: 40px;

}
.prev{
    composes: controlsCommon;    
    grid-area: leftC;
    
}

.next{
    composes: controlsCommon;
    grid-area: rightC;
}






