.main{
    height: 90vh;
    width: 100%;
    display: grid;
     grid-template-areas: 
        'leftC centerC rightC';
    grid-template-columns: 10% 80% 10%;
   
    overflow: hidden;
    justify-items: center;

    

}



.sideCommon{
    filter: blur(1px);
    height: 90%;
    width: 80vw;
    overflow: visible; 

}

.centerC{
    z-index: 2;
     grid-area: centerC;
    height: 100%;
     width: 100%;  
}



.rightC{
    composes: sideCommon;
    z-index: 0;
    grid-area: rightC;
     
}

.leftC{
    composes: sideCommon;
    z-index: 0;
    grid-area: leftC;  
}



