@import '../../Assets/variables.module';
.widget{
    width: 90vw;
    max-height:40vh;
    background-color:$blackish;
    color:white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50px;
    /* center item */
    left:0;
    right:0;
    margin: auto;
    h2{
        margin: 0;
       
        //background: white;
    }
    p{
        color:black;
    }
    ul, div{
   
        height: 100%; 
       list-style: none;
       padding: 5px;
       margin: 5% 5%;
       background:$whitish;    
   }

   div{
    overflow: auto;
    display:none;
    }

    
    li {
        text-align: justify;
        padding:10px 5px ;
        color:black;

    }
}

.clicked{
    composes:widget;
    z-index: 100;
    grid-area: gridPos1;
    max-height: 95vh;
    top:0px;
    width:100vw;
    
    h2{
        color: $darkBlue;
    }
    div{
        display: block;
        
    }

}








