@import '../../Assets/variables.module';
.main{
    width: 100%;
    height:$viewHeight1;
    position: sticky;
    top:$navBarHeight1; 
    z-index: 3;
    background:$blackish;
    margin: 100px 0 0;
    h2{
        color:$darkBlue;
        background-color: $whitish;
    }
}
.list{
    width: 100%;
    height: 60%;
}
.map{
    width: 95%;
    height:40% ;
    margin:auto;
    padding: 0;
}