@import '../../Assets/variables.module';
.main{
    box-shadow: -7px -7px 19px -4px rgba(118,54,38,1);
    width: 100%;
    height:$viewHeight1;
    position: sticky;
    top:$navBarHeight1; 
    z-index: 3;
    background:$blackish;
    margin: 100px 0 0;
    h2{
        width: 95%;
        margin: auto;
        height: 7%;;
        color:white;
        padding: 10px 0 10px;
        //background-color: $whitish;
       // border-radius: 20px;
    }
}

.map{
    width: 95%;
    height:0;
    margin:auto;
    padding: 0;
    border-radius: 20px;
    border:1px solid $darkBlue;
    //transform: translateX(-200vw);
    opacity: 0;
    transition: opacity .5s, height.5s;
    margin:3% auto 0;
    box-shadow: 5px 5px 3px $lightBlue;

}
.displayMap{
    composes: map;
    height: 50%;
    opacity: 100;
   // transform: translateX(0);
    //transition: opacity .5s, transform .5s;
    
}

.infoWindow{
    background-color: $lightBlue  /* rgba(144, 175, 197, 0.32) */;
    
    //overflow: auto;
    width:100%;
    height:200px;
    overflow: hidden;
    //min-width: 200px;
    //padding:10px 0 0;
    /* position: relative;
    top:0;
   left: 0;   */
   display:flex;
   flex-direction: column;
   flex-wrap: nowrap;
   font-size: 18px;
   font-family:  -apple-system, BlinkMacSystemFont 'Roboto Condensed', sans-serif ;
   text-align: justify;
   
   .description{
    width: 100%;
    height:70%;
    padding: 0px 10px 20px;
    
    background-color:  $lightBlue /* rgba(144, 175, 197, 0.32) */;
    .infoP{
        background: $whitish;
        margin:10 0 10px;
        padding: 5px;
        height:80%;
        border-radius: 7px;
        overflow: scroll; 
        overflow-x: hidden;
        z-index: 100;
        font-size: 17px;
        font-weight: 400;
        }
        
        
   }
   
   
  .dates{
    margin:10px 10px 0;
    width: auto;
    height:30%;
    border-bottom: 2px solid $darkBlue;
    display:flex;
    flex-direction: column;
    div{
        word-wrap: break-word;
        //margin: 10px 0 2px;
        text-align: left;
        font-size: 17px;
        font-weight: 400;
        
    }
  }
   
}


@media screen and  (min-width: 425px){
  .infoWindow{
    height:220px;
    .description{
      height: 80%;
      .infoP{
        font-size: 20px;
      }
    }
    .dates{
      div{
        font-size: 20px;
      }
    }
   
  }
  


}

@media screen and (min-width:768px){
    .main{
        display: grid;
        grid-template-areas: ". . "
                              "mylist  mymap"
                              ". ." ;
        grid-template-rows: 100px 800px auto;
        grid-template-columns: 40% 60%;
        h2{
          font-size: 40px;
            grid-area: mylist;
            margin: 10px auto ;
            height:100px;
            
        }

        div:nth-child(2){
          grid-area: mylist;
          margin: 100px auto ;
          height:700px;
        }
        
        div ul li{
          font-size: 27px;
          text-align: left;
          padding: 5px 10px;
         
        }

    }
    .map{
        grid-area: mymap;
        height: 795px;
        margin:auto ;
    }
    
    
  }
/* infoWindow */
 .infoP::-webkit-scrollbar {
    width: 5px !important;
  }
  
  /* Track */
  .infoP::-webkit-scrollbar-track {
    background:$blackish ; 
  }
  
  /* Handle */
  .infoP::-webkit-scrollbar-thumb {
    background: $darkBlue; 
  }
  
  /* Handle on hover */
  .infoP::-webkit-scrollbar-thumb:hover {
    background: $brownish; 
  }

  /* list */

  .infoP::-webkit-scrollbar {
    width: 5px !important;
  }
  
  /* Track */
  .infoP::-webkit-scrollbar-track {
    background:$blackish ; 
  }
  
  /* Handle */
  .infoP::-webkit-scrollbar-thumb {
    background: $darkBlue; 
  }
  
  /* Handle on hover */
  .infoP::-webkit-scrollbar-thumb:hover {
    background: $brownish; 
  }