@import '../../Assets/variables.module';
.main{
    width: 100%;
    height:$viewHeight1;
    position: sticky;
    top:$navBarHeight1; 
    z-index: 3;
    background:$blackish;
    margin: 100px 0 0;
    h2{
        width: 95%;
        margin: auto;
        height: 7%;;
        color:white;
        padding: 10px 0 10px;
        //background-color: $whitish;
       // border-radius: 20px;
    }
}

.map{
    width: 95%;
    height:0;
    margin:auto;
    padding: 0;
    border-radius: 20px;
    border:1px solid $darkBlue;
    //transform: translateX(-200vw);
    opacity: 0;
    transition: opacity .5s, height.5s;
    margin:3% auto 0;
    box-shadow: 5px 5px 3px $lightBlue;

}
.displayMap{
    composes: map;
    height: 50%;
    opacity: 100;
   // transform: translateX(0);
    //transition: opacity .5s, transform .5s;
    
}

.infoWindow{
    background-color:$whitish;
    //overflow: auto;
    width:100%;
    padding:10px 0 0;
   position: absolute;
   top:0;
   left: 0;
   font-size: 15px;
   
   div{
    overflow: scroll;
    //margin: 10px 10px 0;
    height: 100%;
    p{
        overflow: scroll;
    }
   }
  
}

