@import '../../Assets/variables.module';
.modal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed; 
    z-index: 20; 
    left: -200vw;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: left .3s, 

   
}

.myPicture{
  grid-area: myFace;
  margin:auto;
  z-index: 1;
  max-height:195px;
  max-width: 115px;
  
}
.pictureShadow{
  box-shadow: 7px 7px 5px gray;
}

.display{
    composes:modal;
    //display:block;
    
    left:0;
    width: 100%;
    height: 100vh;
 /*    span{
      visibility: visible;
    } */

 
}
.display .close{
  visibility: visible;
}
 
  /* The Close Button */
  .close {
    grid-area: closeM;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    float: right;
    font-size: 70px;
    visibility: hidden;

   // color: #aaa;
    //float: right;
    //font-size: 28px;
    font-weight: bold;
    /* position: relative;
    right:-10px;
    top:0px; */ 
  }
  
  .close:hover,
  .close:focus {
    color: black;
    font-size: 80px;
    text-decoration: none;
    cursor: pointer;
  }

.display .modalContent p {
   
    width: 100%;
    z-index: 0;
    transform:translateX(-10px);
    transition-property: transform .5s, width .5s;
    transition-duration: .5s;
    transition-delay: .3s;
}
.modalContent {
  
    z-index: 19;
    display: grid;
    grid-template-areas:  " nothing  closeM"
                          "myFace myname"
                          "myFace myemail"
                          "myFace myphone"
                          ". .";
    grid-template-columns: 40% 60%;
    grid-template-rows: 2% 32% 32% 32% 2%;

    background-color: $whitish;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    max-width: 300px; /* Could be more or less, depending on screen size */
    max-height:235px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px $brownish;
    justify-content: center;
    align-content: center;
    p{
      width: 0%;
      text-align: left;
      margin:auto;
      height: 19.2px;
      overflow: hidden;
      -webkit-user-select: text;
      background-color: $lightBlue;
      border-left: 2px solid $darkBlue;
      box-shadow: 7px 7px 5px gray; 
      color: white;
      z-index: -1;
      transform:translateX(-110px);
      transition-delay: .4s;
      transition-property: width 1s, transform 1s;
      //font-size: 25px;
      
    }
   
    
  }

  .myName{
    height: 19.2px;
    grid-area: myname;
    align-self: flex-start;  
  }

  .myEmail{
    grid-area: myemail;
    //font-size: 5px ;
  }

  .myPhone{
   
    grid-area: myphone;
  }

  
  @media screen and (min-width:425px){
    
    .modalContent{
      max-width: 400px;
      width: 400px;
      max-height: 300px;
      height:280px;
      p{
        font-size: 20px;
        height:25px;
      }

  }
  .myPicture{
   
    max-width: 135px;
    max-height: none;
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
    margin:14.25px 10.100px;

    
    
  }
}

@media screen and (min-width:768px){
  .modalContent{
    max-width: 550px;
    width: 550px;
    max-height: 320px;
    height:320px;
    grid-template-columns: 35% 65%;

    p{
      font-size: 30px;
      height:35px;
    }

  }

  .myPicture{
    
    max-width: 160px;
    max-height: none;
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
    margin:14.25px 10.100px;
  }

}

 
/* 
  @media screen and (min-width:375px){
    .myPicture{
      width:120px;
    }


  }

  @media screen and  (min-width: 425px){
    .myPicture{
      width: 140px
       
    }
    .modalContent{
      font-size: 25px;
      word-break: break-word;
      text-align: right;
    }

  

} */