@import '../../../Assets/variables.module';

$ratio-16-9: 56.25%;
$cols: 1;

.main{
    width: 98%;
    height:auto;
    margin: 50px 0;
    display: grid;
    grid-template-areas: 
        'title'
        'imgs'
        'description';
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 45% ;
    border: 1px;
    border-color:$darkBlue;
    border-style: solid;
    background-color:$whitish;
    align-items: center;
    border-radius: 20px;
  
   

   
}
.main h3{
    width:100%;
    grid-area: title;
    height: auto;
    margin: 0 auto;
    color: black;
    justify-self: center;
}

.imgCont{
  grid-area: imgs;
  width:100%;
  height: auto;
  max-height: 100%;
  overflow:hidden;
  border-radius: 20px;

  
}
.img{
  
  width: 100%;
  height: auto;
  
}

.btn{
  height: 40px;
  width: 90%;
  margin: auto;
  grid-area: description;
  z-index: 1;
  background-color:$blackish;
  color:whitesmoke;
    align-self: flex-end;
    border-radius: 20px;
  }
  
  .description{
    width: 95%;
    height: 90%;
    overflow: auto;
    grid-area: description;
    border: 1px solid $brownish;
    border-radius: 20px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    

}
 
  /* .projectImg{
    grid-area: imgs;
   
} */

/* .imgCont {
    grid-area: imgs;
    width:  calc(100% / #{$cols}) ;
    margin: 2px;
    height: 0;
  position: relative; 
    overflow: hidden;
   padding-bottom: #{$ratio-16-9 / $cols}; 
} 
 
  .img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    margin: auto;
    border-radius: 20px;
  }


 */