@import '../../../Assets/variables.module';

$ratio-16-9: 56.25%;
$cols: 1;

.main{
    width:282px;
    height:315px;
    margin: auto;
    display: grid;
    grid-template-areas: 
        'title'
        'imgs'
        'description';
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 45% ;
    border: 3px;
    border-color:$darkBlue;
    border-style: solid;
    background-color:$whitish;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 6px 10px gray;
    a{
      grid-area: description;
      align-self: end;
    }
  
}
.main h3{
    width:100%;
    grid-area: title;
    height: auto;
    margin: 0 auto;
    color: black;
    justify-self: center;
}

.imgCont{
  grid-area: imgs;
  width:100%;
  height: auto;
  max-height: 100%;
  overflow:hidden;
  border-radius: 20px;
  box-shadow: 3px 3px 5px gray;

  
}
.img{
  width: 100%;
  height: auto;
}

.btn{
  height: 35px;
  width: 90%;
  margin: auto auto 5px;;
  z-index: 1;
  background-color:$blackish;
  color:whitesmoke;
    align-self: flex-end;
    border-radius: 20px;
    box-shadow: 4px 4px 5px gray;
    /* a{
      width:100%;
      height: 100%;
    } */
  }
  .btn:hover{
    cursor: pointer;
  }
  
  .description{
    width: 95%;
    height: 60%;
    overflow: auto;
    grid-area: description;
    border: 1px solid $brownish;
    border-radius: 10px;
    align-self: flex-start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    //overflow: visible;
    margin:10px auto;
    box-shadow: 4px 4px 5px gray;
    p{
      padding: 7px 5px 5px;;
      width:100%;
      height: 100%;;
      overflow: scroll;
      overflow-x: hidden;
      margin: 0;
      text-align:justify;
      border-radius: 10px;
    }
    

}

.description p::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
.description p::-webkit-scrollbar-track {
  background:white ; 
}

/* Handle */
.description p::-webkit-scrollbar-thumb {
  background: $darkBlue; 
}

/* Handle on hover */
.description p::-webkit-scrollbar-thumb:hover {
  background: $brownish; 
}

@media screen and  (min-height: 736px){
  .main{
    height: /* 100% */ 400px ;
    width: 90%;
    //min-height: 0;
    h3{
      
      font-size: 30px;
      padding:20px 0 0 0; 
    }
    .btn{
      height:40px;
      width:60%;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .description{font-size: 20px; }
}

}






/* @media screen and (min-width:425px){
  .main{
    margin:auto 60px;
    min-height: 0;
    min-width: 0;
    max-height: none;
    max-width: 300px;
    height:100%;
    width: 100%;
    margin:auto;
    h3{
      font-size: 25px;
    }
  }
  .btn{
    height:40px;
    width:60%;
    font-size: 15px;
  }
  
} */




  /* .projectImg{
    grid-area: imgs;
   
} */

/* .imgCont {
    grid-area: imgs;
    width:  calc(100% / #{$cols}) ;
    margin: 2px;
    height: 0;
  position: relative; 
    overflow: hidden;
   padding-bottom: #{$ratio-16-9 / $cols}; 
} 
 
  .img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    margin: auto;
    border-radius: 20px;
  }


 */