$navBarHeight1: 7vh;
$viewHeight1:93vh;
$lightBlue:#90afc5;
$darkBlue:#336b87;
$blackish:#2a3132;
$brownish:#763626;
$whitish:#f4f4ef;



 :export {
     navBarheight:$navBarHeight1;
     viewHeight:$viewHeight1;
} 