@import '../../../Assets/variables.module';
.listCont{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
      /* center item */
      left:0;
      right:0;
      margin: auto;
      background-color: $blackish;
      h2{
        margin: 0;
        background-color: $blackish;
        color:$whitish;

      }
      li:hover{
          background-color: $darkBlue;
          color: $whitish;
          cursor: pointer;
          
      }
     
}



.employmentList{
    list-style: none;
    overflow: auto;
    height: 100%;
    width:95%;
    padding: 0;
    margin:auto;
    background-color: $whitish;
}

.listItem{
    color:black;
    padding: 5px 0;
}
