/* //@import './Assets/variables.module'; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



 .gm-style .gm-style-iw {
            background-color: #f4f4ef!important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-width: 280px !important;
            min-height: 170px !important;
            padding-top: 10px;
            display: block !important;
            overflow:scroll;
           
         } 
         
         
.gm-style-iw-d{
  overflow: hidden !important;
}
.gm-style-iw-c{
  box-shadow: 3px 3px 10px #336b87 !important;
}
/* #763626 
#336b87*/
.gm-style-iw-t::after{
  background-color: #f4f4ef!important;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}
* h1,* h2,* h3{
  font-family: 'Special Elite', cursive;
  /* justify-items: center;
  align-items: center; */
  text-align: center;
  padding: 5px 0 0;
  margin: auto;
}

body, html{
  height: 100%;
  scroll-behavior: smooth;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
