@import '../../Assets/variables.module';

.main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height:$navBarHeight1;
    z-index: 2;
    position:fixed;
    top:0; 
    background:#90afc5;
    margin: 0 0 95vh;
    visibility: visible;
        
}

.hide{
    composes:main;
    top:-$navBarHeight1;
}

.links{
    display: inline;
    width: 100%;
    padding:0 20px;
    
}