@import '../../Assets/variables.module';

.main{
    width: 98%;
    height:$navBarHeight1;
    z-index: 10;
    position:fixed;
    top:0; 
    background:$blackish;
    margin: 0 0 95vh;
    visibility: visible;
    box-shadow: 2px 2px 10px $darkBlue;
    transition: top .5s;
   
    ul{
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;

    }
    
    li{
        float: left;
        border-right: 2px solid $darkBlue;
    }
    li:last-child {
        border-right: none;
    }
   
 
  
   /*  a:hover{
        text-decoration: none;
        color: $darkBlue;
        background-color: $whitish;
        
      } */
}



.hide{
    composes:main;
    top:-$navBarHeight1;
   
}

.links{
    //display: inline;
    width: 100%;
    padding:0 20px;
    display: block;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    color:$whitish;
    font-family:  'Special Elite', cursive;
    font-size: 19px;
    transition: .5s;

    a:visited{
        text-decoration: none;
        color:$whitish;
    } 
}

.linksCurrent{
    composes:links;
    color: $darkBlue;
    background-color: $whitish;
    
 
    
}