@import '../../Assets/variables.module';

.main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height:$navBarHeight1;
    z-index: 2;
    position:fixed;
    top:0; 
    background:$blackish;
    margin: 0 0 95vh;
    visibility: visible;
    li{
        color:$whitish;
        height: 5vh;
        display: inline-block;
        width:30vw;
    }
    transition:top .2s;
}

li:hover{
    color: $darkBlue;
    background-color: $whitish;
}
.hide{
    composes:main;
    top:-$navBarHeight1;
}

.links{
    display: inline;
    width: 100%;
    padding:0 20px;
    
}